@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:wght@300;600;700;800&display=swap");

body {
  background: hsl(0, 0%, 8%);
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.box > div {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.box {
  background-color: hsl(0, 0%, 12%);
  border-radius: 24px;
  padding: 25px;
}

.pfp {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.role {
    margin: 20px;
    color: #cbcbc9;
}

#location {
  color: hsl(75, 94%, 57%);
}

.buttons > * {
  display: block;
  background-color: #333;
  color: white;
  padding: 10px;
  margin: 6px 0; /* Reduce margin between buttons */
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.9rem;
  width: 300px;
  font-weight: 600;
  text-align: center;
}

.buttons > a:hover {
  color: black;
  background-color: #c4f82a; /* Neon green */
  box-shadow: 0 0 8px rgba(196, 248, 42, 0.4);
}
